
/* start stylig for from task */
body{
    background-color: rgba(255,191,201,255)
}

table{
    margin: auto;
    text-transform: capitalize;
    background-color: white;
    border: solid 11px red;
    width: 500px;
}
table h1{
    text-align: center;
}

table tr,td {
    border: solid 1px rgba(255,191,201,255);
    padding: 1px;
    
}

table tfoot td {
    text-align: center;
    
}

/* end stylig for from task */

/* start stylig for justify task */
.justify{
    color: red;
    background-color: tomato;
    /* width: 600px;
    background-color: tomato; */
}
/* .justify p{
    text-align: justify;
} */
/* end stylig for justify task */